@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-flow: row nowrap;
}

body {
    height: 100%;
    background-image: url(/assets/img/background.png);
    background-size: cover;
    background-position: center;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

#store {
    border: 1px solid white;
    width: fit-content;
    height: fit-content;
}

#tank {
    padding: 15px;
    height: 100px;
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 35, 35);
    border: 1px solid maroon;
}

#middle {
    border-bottom: 1px solid white;
}

.selectFlag,
#tank img:last-of-type {
    width: 64px;
}

#tank * {
    font-size: 16px;
    pointer-events: none;
    user-select: none;
}

#stats {
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

div #credit-c, div > h1:first-of-type {
    color: silver;
}

div #gold-c, div > h1:last-of-type {
    color: gold;
}

#count {
    color: gold;
    padding-left: 55px;
}

#popups {
    pointer-events: none;
}

#store > div {
    cursor: pointer;
}

.crew-bia {
    background-image: url('/assets/items/brothers.png');
    background-size: contain;
}

.crew-int {
    background-image: url('/assets/items/brothers.png');
    background-size: contain;
}

.crew-bia,
.crew-int,
.crew {
    width: 26px;
    height: 26px;
}

#buyCrew {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/icons/brothers_plus.png');
    background-size: contain;
    background-size: 40px;
    height: 40px;
}

#buyCrew > p {
    color: lime;
    padding-left: 40px;
}

#crew-members {
    display: flex;
    flex-flow: row wrap;
    width: 400px;
}

.na {
    color: red !important;
}

#gold-boosters {
    display: flex;
    flex-flow: row wrap;
    width: 400px;
}

.gold-boost {
    background-image: url(/assets/items/gold_booster.webp);
    background-size: contain;
    width: 32px;
    height: 32px;
}

.gold-pop-up {
    color: gold;
}

#buyGold-Booster {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/items/gold_booster.webp);
    background-size: contain;
    width: 16px;
    height: 16px;
}

#buyGold-Booster > p {
    color: lime;
    padding-left: 48px;
}

#stats {
    border-right: 1px solid white;
    margin-right: 15px;
    height: 100vh;
}

#right {
    border-left: 1px solid white;
    margin-left: 15px;
    height: 100vh;
}