@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-flow: row nowrap;
}

body {
    height: 100%;
    background-image: url(/assets/img/back2.png);
    background-size: cover;
    background-position: center;
}

*:not(ul) {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

#store {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.2);
}

#tank {
    padding: 15px;
    height: 100px;
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 35, 35);
    border: 1px solid maroon;
    max-width: 1200px;
}

#middle {
    border-bottom: 1px solid white;
    width: 100%;
    display: flex;
    flex-flow:column nowrap;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
}

#current-tier,
#middle-title,
#store-title {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.selectFlag,
#tankCountry {
    width: 64px;
}

#tankName {
    font-size: 28px;
}

#tank *:not(h2) {
    font-size: 16px;
    user-select: none;
}

#left {
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    border-right: 1px solid white;
    height: 100vh;
}

div #credit-c, div > h1:first-of-type {
    color: silver;
}

div #gold-c, div > h1:last-of-type {
    color: gold;
}

#count {
    color: gold;
    padding-left: 55px;
}

#popups {
    pointer-events: none;
}

#store > div {
    cursor: pointer;
}

.crew-bia {
    background-image: url('/assets/items/brothers.png');
    background-size: contain;
}

.crew-int {
    background-image: url('/assets/items/brothers.png');
    background-size: contain;
}

.equipment,
.consumable,
.crew-bia,
.crew-int,
.crew {
    width: 26px;
    height: 26px;
}

#buyEquipment,
#buyConsumable,
#buyCrew {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/icons/brothers_plus.png');
    background-size: contain;
    background-size: 40px;
    height: 40px;
}

#buyConsumable {
    background-image: url(/assets/icons/cola_plus.png);
}

#buyEquipment {
    background-image: url("/assets/icons/vents_plus.png");
}

#buyConsumable > p,
#buyEquipment > p,
#buyCrew > p {
    color: lime;
    text-align: center;
}

#crew-members {
    display: flex;
    flex-flow: row wrap;
}

.na {
    color: red !important;
}

.na-s {
    display: none;
}

#gold-boosters {
    display: flex;
    flex-flow: row wrap;
}

.gold-boost {
    background-image: url(/assets/items/gold_booster.webp);
    background-size: contain;
    width: 32px;
    height: 32px;
}

.gold-pop-up {
    color: gold;
}

#buyGold-Booster {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/items/gold_booster.webp);
    background-size: contain;
    width: 16px;
    height: 16px;
}

#buyGold-Booster > p {
    color: lime;
    padding-left: 48px;
}

#right {
    border-left: 1px solid white;
    height: 100vh;
}

.upgradeTankIcon,
#tankIcon {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

#country-select {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.store-item {
    width: 600px;
    background-color: rgba(0, 0, 0, 0.3);
}

.tooltip {
    margin-left: 25px;
    margin-right: 25px;
}

.coupon {
    margin: 100px;
}

#tankStatus {
    align-self: flex-end;
}

#tankStatus:hover {
    cursor: pointer;
}

#upgradeIcon {
    cursor: pointer;
}

.status-image {
    width: 32px;
    height: 32px;
}

#version {
    color: silver;
}