@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html {
	height: 100vh;
}

body {
	height: 100vh;
	background-image: url(/assets/img/back2.png);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
}

*:not(ul) {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	color: white;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 100;
}

#store {
	border: 1px solid white;
	background-color: rgba(0, 0, 0, 0.2);
}

#tank {
	padding: 15px;
	height: 100px;
	align-self: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(35, 35, 35);
	border: 1px solid maroon;
	max-width: 1200px;
	min-width: 300px;
}

.clicked {
	background-color: rgb(90, 90, 90) !important;
}

#middle {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	background-color: rgba(0, 0, 0, 0.2);
	overflow-y: auto;
	scrollbar-width: none;
}

#current-tier,
.middle-title,
#store-title {
	background-color: rgba(0, 0, 0, 0.427);
	width: 100%;
	text-align: center;
	margin-bottom: 25px;
	color: gold;
}

.selectFlag,
#tankCountry {
	width: 64px;
}

#tankName {
	font-size: 15px;
}

#tank *:not(h2) {
	user-select: none;
}

#left {
	display: flex;
	flex-flow: column nowrap;
	width: fit-content;
	font-size: 15px;
	background-color: rgba(0, 0, 0, 0.2);
	border-right: 1px solid white;
	height: 100vh;
	margin-left: 5px;
	max-width: 343px;
}

.info>p {
	color: silver;
}

.info>a {
	color: powderblue;
}

div #credit-c {
	color: silver;
}

div #gold-c {
	color: gold;
}

#count {
	color: gold;
	padding-left: 55px;
}

#popups {
	pointer-events: none;
}

#store>div {
	cursor: pointer;
}

.equipment,
.consumable,
.crew {
	width: 26px;
	height: 26px;
}

#buyEquipment,
#buyConsumable,
#buyCrew {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-flow: column nowrap;
	background-image: url("/assets/icons/brothers_plus.png");
	background-size: contain;
	background-size: 40px;
	background-position: right;
	height: fit-content;
}

#buyConsumable {
	background-image: url(/assets/icons/cola_plus.png);
}

#buyEquipment {
	background-image: url("/assets/icons/vents_plus.png");
}

#buyConsumable>p,
#buyConsumable>p>span,
#buyEquipment>p,
#buyEquipment>p>span,
#buyCrew>p,
#buyCrew>p>span {
	color: lime;
	text-align: center;
}

#crew-members {
	display: flex;
	flex-flow: row wrap;
}

.na {
	color: red !important;
}

.na-s {
	display: none;
}

#gold-boosters {
	display: flex;
	flex-flow: row wrap;
}

.gold-boost {
	background-image: url(/assets/items/gold_booster.webp);
	background-size: contain;
	width: 32px;
	height: 32px;
}

.gold-pop-up {
	color: gold;
}

#buyGold-Booster {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(/assets/items/gold_booster.webp);
	background-size: contain;
	width: 16px;
	height: 16px;
}

#buyGold-Booster>p {
	color: lime;
	padding-left: 48px;
}

#right {
	border-left: 1px solid white;
	height: 100vh;
}

#tankIcon {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.upgradeTankIcon {
	width: 60px;
	height: 60px;
	object-fit: cover;
}

hr {
	margin-top: 15px;
	margin-bottom: 15px;
}

#country-select {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

.store-item {
	width: 450px;
	background-color: rgba(0, 0, 0, 0.3);
}

.store-item>p {
	margin-bottom: 5px;
	margin-left: 5px;
}

.coupon {
	margin: 100px;
}

#tankStatus {
	align-self: flex-end;
}

#tankStatus:hover {
	cursor: pointer;
}

#upgradeIcon {
	cursor: pointer;
}

.status-image {
	width: 32px;
	height: 32px;
}

#version {
	color: silver;
}

figure {
	margin-right: 10px;
}

figcaption {
	font-size: 12px;
}

#premium-tank-shop,
#reward-tank-shop {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.locked>h2,
.locked>h3 {
	color: red;
}

.unlocked>h2,
.unlocked>h3 {
	color: lime;
}

#main-header {
	position: sticky;
}

.middle-section {
	margin-bottom: 25px;
}

#notifications {
	align-self: center;
}

.notification {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid white;
	background-color: rgba(0, 0, 0, 0.3);
	padding-left: 25px;
	padding-right: 25px;
	width: 500px;
	margin-bottom: 15px;
}

.notification:hover {
	cursor: pointer;
}

.n-details>h3 {
	width: 100%;
	text-align: left;
}

.n-icon {
	width: 35px;
	height: 35px;
	margin-right: 25px;
}

.timestamp {
	color: lightgray;
	font-size: 0.6rem;
	width: 100%;
	text-align: right;
}